.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #2c0e3a;
  color: white;
}

.logo {
  height: 30px;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side>*{
    margin-right: 10px;
}

.timer-logo{
    height: 30px;
    margin-right: 5px;
    margin-left: 15px;
}

.timer-section{
    display: flex;
    justify-content: center;
    align-items: center;
}